// Styling for the call to action section
//section.cta {
    section.cta{
   position: relative;
    padding: 50px 0;
    background:darkslategrey; //linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background-position: center;
    @include background-cover;
    
    .cta-content {
        color:white;
        position: relative;
        z-index: 1;
        h2 {
            font-size: 50px;
            max-width: 450px;
            margin-top: 0;
            margin-bottom: 25px;
            
        }
        @media (min-width: 768px) {
            h2 {
                font-size: 80px;
            }
        }
        h1{
            font-weight: 10px;
            text-align: center;

        }
    }
}
