// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #fdcc52;
$theme-secondary:  rgb(25, 62, 87);
$theme-tertiary:   rgb(9, 25, 44);

$gray-base:        #000;
$gray-darker:      #000;//lighten($gray-base, 13.5%); // #222
$gray-dark:        #000;//lighten($gray-base, 20%);   // #333
$gray:             #000;// lighten($gray-base, 33.5%); // #555
$gray-light:       #000;//lighten($gray-base, 46.7%); // #777
$gray-lighter:     #000;//lighten($gray-base, 93.5%); // #eee*/

$brand-twitter:		#1da1f2;
$brand-facebook:	#3b5998;
$brand-google-plus:	#dd4b39;